.modes {
	text-align: center;
	padding: 10px;

	.label {
		font-size: 18px;
		font-weight: bold;
	}
	.ui.circular.label {
		padding: 3em !important;
	}

	.timer {
		font-size: 20px;
	}

	.timer-label {
		font-size: 14px;
	}

}
